BasedOnStyle                              : LLVM
AccessModifierOffset                      : -1
AlignAfterOpenBracket                     : AlwaysBreak
AlignConsecutiveAssignments               : true
AlignConsecutiveDeclarations              : false
AlignConsecutiveMacros                    : true
AlignEscapedNewlines                      : Left
AlignOperands                             : true
AlignTrailingComments                     : true
AllowAllArgumentsOnNextLine               : true
AllowAllConstructorInitializersOnNextLine : true
AllowAllParametersOfDeclarationOnNextLine : true
AllowShortBlocksOnASingleLine             : true
AllowShortCaseLabelsOnASingleLine         : true
AllowShortFunctionsOnASingleLine          : false
AllowShortIfStatementsOnASingleLine       : Never
AllowShortLambdasOnASingleLine            : All
AlwaysBreakAfterReturnType                : All
AlwaysBreakAfterDefinitionReturnType      : All
AlwaysBreakTemplateDeclarations           : Yes
KeepEmptyLinesAtTheStartOfBlocks          : false
IndentWrappedFunctionNames                : false
UseTab                                    : Never
IndentWidth                               : 2
TabWidth                                  : 2
ContinuationIndentWidth                   : 4
BinPackArguments                          : true
BinPackParameters                         : true
ColumnLimit                               : 80
Language                                  : Cpp
Standard                                  : Auto
